In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from IPython.display import display

In [2]:
DATA_PATH = "../data/"
DATASET_FILENAME = "spotify_dataset.csv"
DATASET_PATH = f"{DATA_PATH}{DATASET_FILENAME}"

In [3]:
# Errors are found: example: "7511e45f2cc6f6e609ae46c15506538c","Glenn Gould",""Kyllikki" - Three Lyric Pieces for Piano, Op. 41 - II. Andantino","Instrumenal - Home Listens"

In [4]:
df_playlists = pd.read_csv(DATASET_PATH, on_bad_lines="skip")

In [5]:
with open(f'{DATASET_PATH.replace("csv","parquet")}', mode='wb') as f_out:
    df_playlists.to_parquet(f_out)

In [6]:
df_playlists.head()

,user_id,"""artistname""","""trackname""","""playlistname"""
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [7]:
df_playlists.columns = df_playlists.columns.str.replace("\"", "").str.strip().str.replace("_","")

In [8]:
df_playlists.head()

,userid,artistname,trackname,playlistname
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [9]:
df_playlists.describe()

                                  userid artistname trackname playlistname
count                           12891680   12858112  12891595     12890434
unique                             15918     289821   2032044       157504
top     4398de6902abde3351347b048fcdc287  Daft Punk     Intro      Starred
freq                              295275      36086      6676      1337085

In [10]:
df_playlists.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12891680 entries, 0 to 12891679
Data columns (total 4 columns):
 #   Column        Non-Null Count     Dtype
---  ------        --------------     -----
 0   userid        12891680 non-null  object
 1   artistname    12858112 non-null  object
 2   trackname     12891595 non-null  object
 3   playlistname  12890434 non-null  object
dtypes: object(4)
memory usage: 393.4+ MB

C:\Users\MARCOS\AppData\Local\Temp/ipykernel_6344/3880297857.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df_playlists.info(null_counts=True)

In [11]:
df_playlists[df_playlists["userid"] == "4398de6902abde3351347b048fcdc287"].describe()

                                  userid artistname trackname playlistname
count                             295275     295274    295274       295275
unique                                 1      21966    191130           29
top     4398de6902abde3351347b048fcdc287        M83    Ghosts      Starred
freq                              295275        143        28        47362

In [12]:
df_playlists['playlistname'].describe()

count     12890434
unique      157504
top        Starred
freq       1337085
Name: playlistname, dtype: object

In [13]:
df_playlists['playlistname'].value_counts()[0:20]

Starred                  1337085
Liked from Radio          180083
Favoritas de la radio      30425
Rock                       30142
2014                       22680
Christmas                  22281
2013                       20895
Work                       18410
Jazz                       18291
Indie                      17859
Classical                  16328
everything                 16316
Country                    15520
New Playlist               15245
Music                      14952
Generos                    14877
Rap                        14506
Chill                      13117
2012                       13101
iPhone                     13086
Name: playlistname, dtype: int64

In [14]:
# It seems that starred and liked from radio are default playlists, so a kind of outliers

In [7]:
df_playlists.isnull().sum()

user_id                0
 "artistname"      33568
 "trackname"          85
 "playlistname"     1246
dtype: int64

In [9]:
df_playlists[df_playlists.isnull()] = ""